<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<style>
	body {
	    height: auto;
	    background: linear-gradient(to right, #eb3349  0%, #f45c43 100%);
	    color: white;
	}
	</style>
	 <head>
	   	<title>Letter Generator!!</title>
	   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	   	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	 </head>
	 <body>
	 	<div class="container">
	 		<div class="jumbotron bg-light">
	 			<h1>Letter Generator</h1>
	 		</div>
	     	<div class="dropdown">
		  <button class="btn btn-secondary dropdown-toggle bg-light text-dark" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Letter Type
		  </button>
		  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		    <a class="dropdown-item" href="/sickLeaveForm">Sick Leave Application</a>
		    <a class="dropdown-item" href="/outstationLeaveForm">Out of Station Leave Application</a>
		  </div>
		</div>
	</div>
	</body>
  	
</html>