<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<style>
	body {
	    height: auto;
	    background: linear-gradient(to right, #eb3349  0%, #f45c43 100%);
	    color: white;
	}
	</style>
	 <head>
	   	<title>Letter Generator!!</title>
	   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	   	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	 </head>
	  <body>
	  	<div class="container">
		  	<div class="text-dark bg-light jumbotron">
			  <h1 class="display-4">Outstation Leave Form</h1>
			  <p class="lead">Easiest way to generate Outstation Leaves Letter!</p>
			  <hr class="my-4">
			  <p>Fill all the information to generate outstation leave application in seconds!</p>
			</div>
	  		<form action="/generateOutstationLeaveLetter">
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="senderName">Your Name</label>
			      <input type="text" class="form-control" name="senderName" placeholder="Chandler Bing">
			    </div>
			    <div class="form-group col-md-6">
			      <label for="receiverDesignation">Receiver's Designation</label>
			      <input type="text" class="form-control" name="receiverDesignation" placeholder="Principal/ HOD/ Manager">
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="department">Department</label>
			    <input type="text" class="form-control" name="department" placeholder="CSE Deptt.">
			  </div>
			  <div class="form-group">
			    <label for="institute">Institute</label>
			    <input type="text" class="form-control" name="institute" placeholder="Institute/ Organisation/ School">
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="city">City</label>
			      <input type="text" class="form-control" name="city">
			    </div>
			    <div class="form-group col-md-4">
			      <label for="state">State</label>
			      <input type="text" class="form-control" name="state">
			    </div>
			    <div class="form-group col-md-2">
			      <label for="pinCode">PinCode</label>
			      <input type="text" class="form-control" name="pinCode">
			    </div>
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-6">
			      <label for="outstationDestination">Out of Station Destination</label>
			      <input type="text" class="form-control" name="outstationDestination" placeholder="Delhi/ New York">
			    </div>
			    <div class="form-group col-md-6">
			      <label for="numberOfDays">Days for Leave</label>
			      <input type="number" class="form-control" name="numberOfDays" min="1" placeholder="1/ 5/ 7">
			    </div>
			  </div>
			  <div class="form-row">
			    <div class="form-group col-md-4">
			      <label for="classOrBranch">Class/ Branch</label>
			      <input type="text" class="form-control" name="classOrBranch" placeholder="CSE/ XII">
			    </div>
			    <div class="form-group col-md-2">
			      <label for="sectionOrSemester">Section/ Semester</label>
			      <select name="sectionOrSemester" class="form-control">
			        <option selected>Choose...</option>
			        <option>Semester</option>
			        <option>Section</option>
			      </select>
			    </div>
			    <div class="form-group col-md-3">
			      <label for="currentSectionOrSemester">Current Section/ Semester</label>
			      <input type="text" class="form-control" name="currentSectionOrSemester" placeholder="VI/ C">
			    </div>
			    <div class="form-group col-md-3">
			      <label for="rollNo">Roll Number</label>
			      <input type="number" class="form-control" name="rollNo" min="1" placeholder="17111000">
			    </div>
			  </div>
			  <button type="submit" class="btn bg-light text-dark btn-primary">Generate</button>
			</form>
		</div>
	  </body>
</html>